
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} 
body{
    font-family: 'Cormorant Upright', serif;
}
nav{
     /* background-color: blue;     */
     /* width: 85%; */
     margin: auto;
     display: flex;
     justify-content: space-between; 
    align-items: center;
     height: 20vh; 

}

label>a{
    font-size:2.5rem;
    color: #DB0E0E;
    font-weight: bolder;
    text-decoration: none;
}
.nav-link {
    /* background-color:red;   */
    display: flex;
    list-style: none; 
}

li{
    margin-right: 60px; 
    font-size: 1.2rem;
    font-weight: 600;
 }

 nav>ul>li>a{
    transform: translateY(5px)  ;
    transition: all 0.2s;
 }
 nav>ul>li>a :hover{
    width: 100%;
    height: 5px;
    border-bottom: solid #DB0E0E;
    color: #DB0E0E; 
 } 

 nav>button{
    
        background-color: #DB0E0E;
        color: white;
        padding: 10px;
        width: 100px;
        font-size: 1.0rem;
        font-weight: 600;
        border: none; 
        border-radius: 10px;
        cursor:pointer;
    }

    nav>button:hover{
        background-color: aqua;
        color: #DB0E0E;
        border: 2px solid;
    }
 

    .Homepage{
        background-color:#628395 ;
        
        display: flex;
        /* flex-direction: row; */
        align-items:center;
        /* justify-content: space-between;
        width: 85%;
        margin: auto;  */
        padding: 1.5rem;
    }
     
    .image{
        /* background-color: #DB0E0E; */
        border-radius: 800px; 
        
    }
    
    .content{
         /* background-color: aqua;  */
        width: 100%;
        max-width: 800px;
        min-width: 500px;
        margin-right: 40px;
        margin-top: 60px;
        font-size: 3.0rem;
    }
    #place{
        margin-top: 60%;
    }
    .About{
        /* background-color: #DB0E0E; */
        display: flex;
        text-align: center;
        font-size: 2.0rem;
        margin-top: 60px;
        margin-left: 200px;
        font-weight: 600;
    }
    #info{
        text-align: center;
        font-size: 2.5rem;
    }

    .Random{
        /* background-color: #DB0E0E; */
        padding: 50px;
        /* margin: auto; */
        

    }
    #random{
        
        text-align: center;
        font-size: 1.5rem;
        margin-top: 3rem;
    }
    .container1{
        display: flex; 
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        
    } 
    
    

    .Random>button{
       background:none;
       border: 1px solid #ccc;
       padding: 1.5rem 1rem;
       justify-content: center;
       align-items: center; 
       font-size:1.2rem;
       width: 250px;
       margin-top: 3rem;
       margin-bottom: 3rem;
       margin-left: 45rem;
       border-radius: 10px;

       color: #ffff;
       
    
    }
    .click{
        /* background-color: aqua; */
         margin-left: 400px;
        
        /* padding-left: 50px; */
        display: grid;
        
    }

    #viewjokes{
        color: #ffff;
        text-align: center;
        font-weight: 600;
        font-size: 1.3rem;
        width: 20vw;
        margin-left: 200px;
        border-radius: 15px;
        background-color: #DB0E0E;
        border: none;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1.5rem 1.5rem;
        
    }
   #hand{
    width: 30px;
    padding-left: 10px;
   }
    
    #in{
        margin-top: 25px;
        height: 30vh; 
        width: 50vw; 
        padding: 60px;
        align-content: center;
        border: 1px solid grey;
        background-color: yellow;
        box-shadow: 20px 30px 15px #aaaaaa;
        font-size: xx-large;
        font-weight: bolder;
        color:purple;
        border-radius: 10px;
}
#viewjokes:hover{
    background-color:#f37070;
    /* color: #DB0E0E; */
    border: 2px solid;
}

/* Reviews */
.reviews{
    width: 50%;
    margin: auto;
    height: 45vh;
    height: auto;  
   /* display: flex; 
   flex-direction: column;  */
    /* justify-content: space-around; */
}

reviews h1{
    
    text-align: center;
    font-size: 4rem;
    margin-top: 30px;

}
.reviewContent p{
    font-size: 1.3rem;
    
}
.column{
    display: flex;
    flex-direction: column;
   justify-content: center;
   text-align: center;
   margin-top: 50px; 
}

.reviewMain{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
 } 

 .reviewContent span{
    font-size: 1.7rem;
    margin-top: 20px;
    color: #DB0E0E;
}
.reviewContent span:hover{
background-color: antiquewhite;


}
#feedback{
    /* background-color: #DB0E0E; */
    text-align: center;
}

/* Footer */
footer{
    background-color: #628395;
    width: 100%;
    margin: auto;
    padding:3rem 10rem 1rem 10rem ;

    
    color: #FFFF;
    font-size: 1.5rem;
    /* margin-top: 50px; */
    height: 50vh;
}
.footer{
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5rem;
    
}
.left{
    /* background-color: aqua; */
    width: 30%;  
}
.left p{
    margin-top: 2rem;
}
.footer>ul{
    
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer>ul>.title{
    font-weight: 900;
}
.footer>ul>li:hover{
    color: #ed5625;
}

.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.socials>p{
    font-weight: 900;
}
.media{
    display: flex;
    justify-content: space-around;
}


#email{
    padding: 10px;
}
#subscribe{
    background-color: #DB0E0E;
    padding: 10px;
}
.sub{
    /* background-color: #DB0E0E; */
    display: flex;
    justify-content: space-evenly;
    color: black;
    
    
}
#enjoy{
    /* background-color: #DB0E0E; */
    border-right: 2px black solid;
    padding-right: 50px;
}

#thank{
    font-weight: 600;
    font-size:1.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}

/* MEDIA QUERIES */

       /* MOBILE PHONE  */
@media screen and (max-width: 425px) {
    nav{
        /* background-color: #DB0E0E; */
        display: flex;
        flex-direction: row;
        /* align-items: center; */
        /* justify-content: center; */
        padding: 0%;
        justify-content: space-evenly;
        flex-wrap: wrap;
    
    
      /* display: grid;
      grid-column: auto; */   
    }
    /* li{ */
        /* margin-right: 0px;  
        font-size: rem;
        font-weight: 200;
        justify-content: space-between;
        width: 0; */
         /* margin-right: 30px;
 } */ */ */
  li{
    
    display: flex;
    list-style: none; 
    padding-right: 50px;
     
} 
li{
    margin-top: 15px;
    margin-right: 25px; 
    font-size: 1.2rem;
    font-weight: 600;
 }
label>a{
    font-size:2.2rem;
    color: #DB0E0E;
    font-weight: bolder;
    text-decoration: none;
    padding-top: 10px;
}
nav>button{
    
    background-color: #DB0E0E; 
    color: white;
    margin-left: 320px;
    margin-top: 10px;
    width: 90px;
    font-size: 1.0rem;
    font-weight: 500;
    border: none; 
    border-radius: 10px;
    cursor:pointer;
}
.Homepage{
    background-color:#628395 ;
        
        width:100%;
        width: auto;
        margin: auto;
        padding:3rem 5rem 3rem 5rem ;
        display: grid;
        place-items: 100%;
        height: 50vh;
        
        /* flex-direction: row; */
        align-items:center;
        /* justify-content: space-between;
        width: 85%;
        margin: auto;  */
        padding: 0;
}
 /* .image{  */
    /* background-color: #DB0E0E;  */
    /* border-radius: 0px; 
    size: 20%;
    margin-left: 0; */
    /* margin-right: 0px; */
    /* display: block; */
    /* width: 0;
    margin: auto;
    height: 20vh; */
    /* height: auto;  */
    
/* } */

.content{
     /* background-color: aqua;  */
     /* width: 100%; */
     width: auto;
     /* display: grid; */
     
     /* margin: 50px 0px 50px 0px;
     
     
     
     flex-wrap: wrap;
     padding-left: 0px;
     /* padding:3rem 0rem 1rem 15rem ; */
     height: 10vh;
     align-items: center;
     display: flex;
     align-items: center;
     /* flex-direction: column; */
     
     /* width: 0%; */
    /* max-width: 800px; */
    /* min-width: 500px; */
    /* margin-right: 40px; */
    /* margin-top: 0px; */
    /* font-size: 1.0rem;
    width: 50%;
    margin: auto;
    height: 45vh;
    height: auto;  */
    /* display: flex;
    text-align: center;
    font-size: .5rem;
    margin-top: 10px;
    margin-left: 0px;
    font-weight: 50;
    width: fit-content;
block-size: fit-content; */
}
#funny{
    /* background-color: #DB0E0E; */
    margin-top: 0;
    padding: 0;
    font-size: smaller;
    margin-top: 150px;
    text-align: center;
    
}
#place{
/* background-color: #ed5625; */
    font-size:large;
  margin-bottom: 0px;
  margin-top: 500px;
  margin-right: 300px;
  
}
.image{
display: flex;
justify-content: center;
width: 100px;
height: 250px;
margin-left: 235px;
margin-bottom:200px; 



}
.About{
    /* background-color: #DB0E0E; */
    display: flex;
    text-align: center;
    font-size: 1.0rem;
    margin-top: 10px;
    margin-left: 0px;
    font-weight: 600;
}
#emoji{
    height: 20vh;
}
#info{
    text-align: center;
    font-size: 1rem;
}
.click{
    /* background-color: aqua; */
     margin-left: 0px;
     margin-right: 0;
    
    /* padding-left: 50px; */
    display: grid;
    
}

#viewjokes{
    color: #ffff;
    text-align: center;
    font-weight: 200;
    font-size: 1.2rem;
    width: 40vw;
    margin-left: 130px;
    margin-top: 10px;
    border-radius: 20px;
    background-color: #DB0E0E;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .2rem .4rem;
    
    
}
#hand{
width: 30px;
padding-left: 10px;
}

#in{
    margin-top: 15px;
    height: 40vh; 
    width: 50vw; 
    padding: 60px;
    align-content: center;
    border: 1px solid grey;
    background-color: yellow;
    box-shadow: 20px 30px 15px #aaaaaa;
    font-size: xx-large;
    font-weight: bolder;
    color:purple;
    border-radius: 10px;
    margin-left:10px ;
    width: fit-content;
    block-size: fit-content;
}
#viewjokes:hover{
background-color:#f37070;
/* color: #DB0E0E; */
border: 2px solid;
}
.Random{
     /* background-color: #DB0E0E;  */
    position: relative;
    /* padding: 10px; */
    flex-wrap: wrap;
    justify-content: space-around;
     /* margin: auto; */
    

}
#random{
background-color:#628395;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
}
.container{
    /* background-color: #159e4e; */
    /* margin-bottom: 0px; */
    justify-content: space-between; 
     display: flex; 
     flex-wrap: wrap;
     margin: 10px;
    
    /* flex-direction: row; */
      
}
.container1{
    /* background-color: indigo; */
    margin-bottom: 10px;
    display:grid;
    margin: 5px 50px;

    
    
}

.Random>button{
   background:none;
   border: 1px solid #ccc;
   padding: 1.5rem 1rem;
   justify-content: center;
   align-items: center; 
   font-size:1.2rem;
   width: 250px;
   margin-top: 1rem;
   margin-bottom: 3rem;
   margin-left: 4rem;
   border-radius: 10px;

   color: #ffff;
}
 .reviews h1{
    
    text-align: center;
    font-size: 2rem;
    margin-top: 20px;

}
footer{
    background-color: #628395;
    /* width: 100%; */
    width: auto;
    margin: auto;
    padding:.5rem 5rem 10rem 5rem ;

    
    color: #FFFF;
    font-size: 0.8rem;
    /* margin-top: 50px; */
    height: 50vh;
   
}
.footer{
    height: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 5rem;
    padding-left: 0;
    
}
.left{
    /* background-color: aqua;  */
    width: 100%; 
    

}
.left p{
    margin-top: 2rem;

}
.footer>ul{
    
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer>ul>.title{
    font-weight: 900;
}
.footer>ul>li:hover{
    color: #ed5625;
}

.socials{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 10vh;
    margin-left: 1rem;
}
.socials>p{
    font-weight: 900;
}
.media{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}


#email{
    padding: 5px;
    width: 15vw;
    height: 0;
    
}
#subscribe{
    background-color: #DB0E0E;
    margin-top: 2px;
    width: 15vw;
    height: 5vh;
    
    
}
.sub{
    /* background-color: #DB0E0E; */
    display: flex;
    justify-content: space-evenly;
    color: black;  
}
#enjoy{
    /* background-color: #DB0E0E;  */
    border-right: 2px black solid;
    padding-right: 20px;
    margin-right: 5px;
    
}

#thank{
    font-weight: 600;
    font-size:.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: green;
}
}

   /* LAPTOP LARGE */
   @media screen and (max-width:1585px){
 
   nav{
    
        padding: 0;
        margin: 0;
        height: 5vh;
        width: 600%;
    }
        
        nav>button{
            /* background-color: yellow; */
            margin-right: 5rem; 
            
        }
        .image{
    /* background-color: #DB0E0E; */
    
    object-fit: fill;
    max-width: 100%;
    max-height: 100%;

        }
    .Homepage{
        width: 700%;
        display: flex;
        align-items: center;
        padding-left: 200%;
    }
    #aboutus{
        width: 600%;
        text-align: center;
        /* background-color: #f37070; */
    }
    .About{
        margin-left: 250%;
        width: 600%;
    } 
    .humour{
        width: 500px;
        /* background-color: #f37070; */
    }
    .click{
        /* background-color: #DB0E0E; */
        width: 700%;
        /* align-items: center; */
        margin:3% 300%;
    }
    #random{
        width: 600%;
        align-items: center;
    }   
    .Random{
        /* background-color: #f37070; */
        
        width: 700%;
        
    }
    
    .container{
        display: flex;
        flex-direction: row;
        width: 100%;
        object-fit: fill;
        
       
    }
    .container1{
        margin: 0.8%;
        display: block;
    
    }
    #feedback{
        width: 600%;
        text-align: center;
        font-size: 5rem;
        margin-top: 100px;
    
    }
        .reviewMain{
            width: 600%;
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
         } 
    footer{
        width: 700%;
    }
    #cribe{
        margin-right:90%;
    }
   }